{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
<br />
{% if bgcolor == 'blue': %}
<body style="background-color:rgb(152, 216, 238);" >
{% endif %}
{% if bgcolor == 'purple' %}
<body style="background-color:rgb(206, 178, 254);" >
{% endif %}
{% if bgcolor == 'yellow' %}
<body style="background-color:rgb(245, 243, 185);" >
{% endif %}

<h1 align = "center">Notes</h1>

<div align = "center" class="container">
<ul  align = "center" class="lift-group list-group-flush" id="notes">
    <div align = "center" >
    {% for note in user.notes %}
    <li align = "center" class="list-group-item">
        {{ note.text }} 
        <button  type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>

    </li>
    {% endfor %}
</div>
</ul>
</div>


<form method = "POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class = "btn btn-primary">Add Note</button>
    </div>
</form>

</body>

{% endblock %}